.AddTasks {
  background-color: #edf2f7;
}
.form-task {
  gap: 20px;
}
.form-task-num {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #01b9f3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
input[type="file"]::file-selector-button {
  border: none;
  background: #01b9f3;
  border-radius: 10px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
